.box{
    width: 500px;
    height: 500px;
    background-color: brown;
    position: relative;
}
#para1{
    width: 60px;
    height: 15px;
    background-color: yellowgreen;
    position: absolute;
    top: 0px;
    left: 0px;
}
#para2{
    width: 60px;
    height: 15px;
    background-color: yellowgreen;
    position: absolute;
    top: 0px;
    right: 0px;
}
#para3{
    width: 60px;
    height: 15px;
    background-color: yellowgreen;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#para4{
    width: 60px;
    height: 15px;
    background-color: yellowgreen;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#para5{
    width: 60px;
    height: 15px;
    background-color: yellowgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* In summary, while top: 50%; and left: 50%; center the element's top-left corner, transform: translate(-50%, -50%); centers the element itself within its parent by adjusting its position relative to itself. */
}